{# index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}dnoe-portfolio{% endblock %}

{% block body %}
    <section>
        <div class="flex h-96 pt-[1px]">
            <div class="bg-gray-600 flex-1 mr-[1px]"></div>
            <div class="bg-gray-600 w-[1001px] shrink-0 ">
                <div class=" p-10">
                    <div>Portfolio</div>
                    <div>Développeur et designer</div>
                </div>
            </div>
            <div class="bg-gray-600  w-[500px] shrink-0 ml-[1px]"></div>
            <div class="bg-gray-600 flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div>
            <div class="flex h-96 pt-[1px]">
            <div class="bg-gray-600 flex-1 mr-[1px]"></div>
            <div class="bg-gray-600 w-[500px] shrink-0 "></div>
            <div class="bg-gray-600  w-[1001px] shrink-0 ml-[1px]"></div>
            <div class="bg-gray-600 flex-1 ml-[1px]"></div>
        </div>
    </section>
    <section>
        <div>
            <div class="flex h-96 pt-[1px]">
            <div class="bg-gray-600 flex-1 mr-[1px]"></div>
            <div class="bg-gray-600 w-[500px] shrink-0 "></div>
            <div class="bg-gray-600  w-[1001px] shrink-0 ml-[1px]"></div>
            <div class="bg-gray-600 flex-1 ml-[1px]"></div>
        </div>
    </section>


{% endblock %}
