{% extends 'base.html.twig' %}
{% block title %}dnoe-portfolio{% endblock %}

{% block body %}
<div>
{# -------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-cSection dark:bg-dSection flex-1 mr-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection w-[901px] shrink-0 ">
                <div class="text-9xl font-roboto-flex font-black p-10  bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">
                    <div class="">Portfolio</div>
                    <div>Développeur</div>
                </div>
            </div>
            <div class="bg-cSection dark:bg-dSection  w-[450px] shrink-0 ml-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-cSection dark:bg-dSection flex-1 mr-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection w-[450px] shrink-0 "></div>
            <div class="bg-cSection dark:bg-dSection w-[901px] shrink-0 ml-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection flex-1 ml-[1px]"></div> 
        </div>
    </section>
{# -------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-cSection dark:bg-dSection flex-1 mr-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection w-[901px] shrink-0 ">
                <div class="p-10">
                    <div class="text-3xl font-roboto-flex font-black bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">À PROPOS</div>
                    <br>
                    <div>
                        Actuellement étudiant en 2ème année de BTS Services Informatiques aux Organisations (SIO),
                        spécialité Solutions Logicielles et Applications Métiers (SLAM) au lycée Jean Jaurès à Aubusson.
                        Passionné du développement qui m'intéresse de près au design graphique et à l'interface utilisateur.
                    </div>
                    <br>
                    <button>En savoir plus -></button>
                </div>
            </div>
            <div class="bg-cSection dark:bg-dSection  w-[450px] shrink-0 ml-[1px]">
                <div class="p-10">
                    <div class="text-3xl font-roboto-flex font-black bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">RESEAUX</div>
                    <br>
                </div>
            </div>
            <div class="bg-cSection dark:bg-dSection flex-1 ml-[1px]"></div> 
        </div>
    </section>
{# -------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-cSection dark:bg-dSection h-[350px] flex-1 mr-[1px]"></div> 
            <div class="bg-cSection dark:bg-dSection h-[350px] w-[450px] shrink-0 "></div>
            <div class="bg-cSection dark:bg-dSection w-[901px] h-[600px] shrink-0 ml-[1px]">
                <div class=" p-10">
                    <div class="text-3xl font-roboto-flex font-black bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">PROJETS</div>
                    {# 
                    liste de projet à mettre : 
                    constructeur de classe, 
                    flutter app musique, 
                    siteweb reservation,
                    projet bot discord loup-garou,
                    #}
                </div>
            </div>
            <div class="bg-cSection dark:bg-dSection h-[350px] flex-1 ml-[1px]"></div> 
        </div>
        
        <div class="flex h-[350px] pt-[2px]">
            <div class="bg-cSection dark:bg-dSection flex-1 mr-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection h-[348px] w-[450px] shrink-0 mb-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection w-[901px] shrink-0 ml-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection flex-1 ml-[1px]"></div> 
        </div>
    </section>
{# -------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-cSection dark:bg-dSection h-[350px] flex-1 mr-[1px]"></div> 
            <div class="bg-cSection dark:bg-dSection h-[600px] w-[901px] shrink-0 ">
                <div class=" p-10">
                    <div class="text-3xl font-roboto-flex font-black bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">DOCUMENTATION</div>
                        <br>
                        <div class="flex">
                            <div class="w-1/2">
                                <div class="font-bold">Fiche de vulnérabilité</div>
                                <br>
                                <div>PHP</div>
                                <div>JAVA</div>
                            </div>
                            <div class="w-1/2">
                                <div>Frameworks</div>
                                <br>
                                <div>Symfony</div>
                                <div>Tailwind</div>
                                <div>Node.JS </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="bg-cSection dark:bg-dSection w-[450px] h-[350px] shrink-0 ml-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection h-[350px] flex-1 ml-[1px]"></div> 
        </div>
        
        <div class="flex h-[350px] pt-[2px]">
            <div class="bg-cSection dark:bg-dSection flex-1 mr-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection h-[348px] w-[901px] shrink-0 mb-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection w-[450px] shrink-0 ml-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection flex-1 ml-[1px]"></div> 
        </div>
    </section>
{# -------------------------------------------------------------------------------------------------------------------------------------------------------- #}
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-cSection dark:bg-dSection h-[350px] flex-1 mr-[1px]"></div> 
            <div class="bg-cSection dark:bg-dSection h-[350px] w-[450px] shrink-0 "></div>
            <div class="bg-cSection dark:bg-dSection w-[901px] h-[600px] shrink-0 ml-[1px]">
                <div class=" p-10">
                    <div class="text-3xl font-roboto-flex font-black bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">ACTUALITES</div>
                    <br>
                </div>
            </div>
            <div class="bg-cSection dark:bg-dSection h-[350px] flex-1 ml-[1px]"></div> 
        </div>
        
        <div class="flex h-[350px] pt-[2px]">
            <div class="bg-cSection dark:bg-dSection flex-1 mr-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection h-[348px] w-[450px] shrink-0 mb-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection w-[901px] shrink-0 ml-[1px]"></div>
            <div class="bg-cSection dark:bg-dSection flex-1 ml-[1px]"></div> 
        </div>
    </section>
{# -------------------------------------------------------------------------------------------------------------------------------------------------------- #}
</div>
{% endblock %}
