{% extends 'base.html.twig' %}

{% block title %}dnoe-portfolio{% endblock %}

{% block body %}

    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#2b2e47] flex-1 mr-[1px]"></div>
            <div class="bg-[#2b2e47] w-[901px] shrink-0 ">
                <div class="text-7xl p-10">
                    <div>Portfolio</div>
                    <div>Développeur et designer</div>
                </div>
            </div>
            <div class="bg-[#2b2e47]  w-[450px] shrink-0 ml-[1px]"></div>
            <div class="bg-[#2b2e47] flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#2b2e47] flex-1 mr-[1px]"></div>
            <div class="bg-[#2b2e47] w-[450px] shrink-0 "></div>
            <div class="bg-[#2b2e47]  w-[901px] shrink-0 ml-[1px]"></div>
            <div class="bg-[#2b2e47] flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#2b2e47] flex-1 mr-[1px]"></div>
            <div class="bg-[#2b2e47] w-[901px] shrink-0 ">
                <div class=" p-10">
                    <div>À propos</div>
                    <br>
                    <div class="">
                        Actuellement étudiant en 2ème année de BTS Services Informatiques aux Organisations (SIO),
                        spécialité Solutions Logicielles et Applications Métiers (SLAM) au lycée Jean Jaurès à Aubusson.
                        Passionné du développement qui m'intéresse de près au design graphique et à l'interface utilisateur.
                    </div>
                    <br>
                    <button>En savoir plus -></button>
                </div>
            </div>
            <div class="bg-[#2b2e47]  w-[450px] shrink-0 ml-[1px]">
                <div class=" p-10">
                    <div>Contact</div>
                    <br>
                    <div>mail</div>
                    <div>numtel</div>
                </div>
            </div>
            <div class="bg-[#2b2e47] flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#2b2e47] flex-1 mr-[1px]"></div>
            <div class="bg-[#2b2e47] w-[450px] shrink-0 "></div>
            <div class="bg-[#2b2e47]  w-[901px] shrink-0 ml-[1px]"></div>
            <div class="bg-[#2b2e47] flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#2b2e47] flex-1 mr-[1px]"></div>
            <div class="bg-[#2b2e47] w-[450px] shrink-0 "></div>
            <div class="bg-[#2b2e47]  w-[901px] shrink-0 ml-[1px]"></div>
            <div class="bg-[#2b2e47] flex-1 ml-[1px]"></div> 
        </div>
    </section>
    



{% endblock %}
