{% extends 'base.html.twig' %}
{% block title %}dnoe-portfolio{% endblock %}

{% block body %}
<div>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#14151B] flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[901px] shrink-0 ">
                <div class="text-9xl font-roboto-flex font-black p-10  bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">
                    <div class="">Portfolio</div>
                    <div>Développeur</div>
                </div>
            </div>
            <div class="bg-[#14151B]  w-[450px] shrink-0 ml-[1px]"></div>
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#14151B] flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[450px] shrink-0 "></div>
            <div class="bg-[#14151B] w-[901px] shrink-0 ml-[1px]"></div>
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section>

    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#14151B] flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[901px] shrink-0 ">
                <div class="p-10">
                    <div class="text-3xl font-roboto-flex font-black bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">À PROPOS</div>
                    <br>
                    <div>
                        Actuellement étudiant en 2ème année de BTS Services Informatiques aux Organisations (SIO),
                        spécialité Solutions Logicielles et Applications Métiers (SLAM) au lycée Jean Jaurès à Aubusson.
                        Passionné du développement qui m'intéresse de près au design graphique et à l'interface utilisateur.
                    </div>
                    <br>
                    <button>En savoir plus -></button>
                </div>
            </div>
            <div class="bg-[#14151B]  w-[450px] shrink-0 ml-[1px]"></div>
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#14151B] flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[450px] shrink-0 "></div>
            <div class="bg-[#14151B]  w-[901px] shrink-0 ml-[1px]">
                <div class=" p-10">
                    <div class="text-3xl font-roboto-flex font-black bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">PROJETS</div>
                    {# 
                    liste de projet à mettre : 
                    constructeur de classe, 
                    flutter app musique, 
                    siteweb reservation,
                    projet bot discord loup-garou,
                    #}

                </div>
            </div>
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#14151B] flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[901px] shrink-0 ">
                <div class=" p-10">
                        <div class="text-3xl font-roboto-flex font-black bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">DOCUMENTAION </div>

                    {# 
                    fiche de vulnérabilité
                    classes sur plusieurs language de programamtion 
                    documentation 

                     #}
                </div>
            </div>
            <div class="bg-[#14151B]  w-[450px] shrink-0 ml-[1px]"></div>
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#14151B] flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[450px] shrink-0 "></div>
            <div class="bg-[#14151B]  w-[901px] shrink-0 ml-[1px]">
                <div class=" p-10">
                    <div class="font-semibold text-3xl">ACTUALITES</div>
                    <br>
                </div>
            </div>
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section>
</div>
{% endblock %}
