{% extends 'base.html.twig' %}
{% block body %}
<div>
    <section>
        <div class="flex h-sc pt-[1px]">
            <div class="bg-[#14151B] h-dvh flex-1 mr-[1px]"></div>

            <div class="bg-[#14151B] w-[1352px] shrink-0 "></div>

            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section> 
</div> 
{% endblock %}
