{% extends 'base.html.twig' %}
{% block body %}
<div>
    <section>
        <div class="flex h-sc pt-[1px]">
            <div class="bg-[#14151B] h-dvh flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[1352px] shrink-0 ">
                <div class=" p-10">
                    <div class="text-3xl font-roboto-flex font-black bg-gradient-to-r from-[#1753F0] to-[#567FFF] bg-clip-text text-transparent">CONTACT</div>
                    <form action="">
                        <div>email</div>
                        <input type="email" name="" id="">
                        <div>objet</div>
                        <input type="text" name="" id="">
                        <div>message</div>
                        <input type="text" name="" id="">
                        <div><input type="file" name="" id=""></div>
                    </form>
                </div>
            </div>          
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section> 
</div> 
{% endblock %}
