{% extends 'base.html.twig' %}
{% block body %}
<div>
    <section>
        <div class="flex h-sc pt-[1px]">
            <div class="bg-[#14151B] h-dvh flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[1352px] shrink-0 ">
                <div class=" p-10">
                    <div class="font-semibold text-3xl">Contact</div>
                    <div>Name</div>
                    <div>email</div>
                    <div>objet</div>
                    <div>message</div>
                    <div>jointure png, pdf</div>
                </div>
            </div>          
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section> 
</div> 
{% endblock %}
