.circle {
    position: fixed;
    pointer-events: none;
    will-change: transform;
    width: 500px;
    height: 500px;
    border-radius: 9999px;
    background: radial-gradient(circle, rgb(53, 80, 224) 30%, rgb(38, 41, 47) 70%);
    z-index: -1;
    opacity: 0.8;
}