<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/Styles/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="js/curseur-gradiant.js" defer></script>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-[#26292F] text-white">
    <div class="circle" id="cursor-circle"></div>
        <header>
            <div class="flex h-[80px]">
            <div class="bg-[#14151B] flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[450px] shrink-0 mr-[1px]">
                <div class="text-2xl flex pl-10 p-5">

                    <img class="w-8" src="/img/nd-blanc.png" alt="Description de l'image">
                    <div class="pl-10 font-semibold">Noé Dambreville</div>
                </div>
            </div>
            <div class="bg-[#14151B] w-[450px] shrink-0"></div>
            <div class="bg-[#14151B]  w-[450px] shrink-0 ml-[1px]"></div>
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div>
            </div>
        </header>
            {% block body %}{% endblock %}

        <footer>
            <div class="flex h-[80px] pt-[1px]">
                <div class="bg-[#14151B] flex-1 mr-[1px]"></div>
                <div class="bg-[#14151B] w-[450px] shrink-0 mr-[1px]"></div>
                <div class="bg-[#14151B] w-[450px] shrink-0">
                    <div class="container mx-auto p-7 text-center">
                        &copy; 2024-2025 dnoe-portfolio. Tous droits réservés.
                    </div>
                </div>
                <div class="bg-[#14151B]  w-[450px] shrink-0 ml-[1px]"></div>
                <div class="bg-[#14151B] flex-1 ml-[1px]"></div>
            </div>
        </footer>
    </body>
</html>