{# base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="flex h-20">
            <div class="bg-gray-600 flex-1 mr-[1px]"></div>
            <div class="bg-gray-600 w-[500px] shrink-0 mr-[1px]">
                <div class="flex p-2">
                    <div class="px-5">logo</div>
                    <div class="">dnoe</div>
                </div>
            </div>
            <div class="bg-gray-600 w-[500px] shrink-0"></div>
            <div class="bg-gray-600  w-[500px] shrink-0 ml-[1px]"></div>
            <div class="bg-gray-600 flex-1 ml-[1px]"></div>
            </div>
        </header>
            {% block body %}{% endblock %}

        <footer>
            <div class="flex h-20 pt-[1px]">
                <div class="bg-gray-600 flex-1 mr-[1px]"></div>
                <div class="bg-gray-600 w-[500px] shrink-0 mr-[1px]"></div>
                <div class="bg-gray-600 w-[500px] shrink-0">
                    <div class="container mx-auto px-4 text-center">
                        &copy; 2024-2025 dnoe-portfolio. Tous droits réservés.
                    </div>
                </div>
                <div class="bg-gray-600  w-[500px] shrink-0 ml-[1px]"></div>
                <div class="bg-gray-600 flex-1 ml-[1px]"></div>
            </div>
        </footer>
    </body>
</html>