{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div>
    <section class="grid grid-cols-[1fr_449px_450px_450px_1fr] h-[350px] gap-[1px] mt-[1px]">
        <div class="bg-cSection dark:bg-dSection "></div>
        <div class="bg-cSection dark:bg-dSection p-10">
            <div class="text-[26px] outfit-font font-bold">Informations</div>
        </div>
        <div class="bg-cSection dark:bg-dSection p-10">
            <div class="text-[26px] outfit-font font-bold">Hebergement</div>
            <br>
            <div>Nom :</div>
            <div>Adresse :</div>
            <div>Email :</div>
            <div>Tel : </div>
            <div>Num Siren :</div>
        </div>
        <div class="bg-cSection dark:bg-dSection p-10">
        ...
        </div> 
        <div class="bg-cSection dark:bg-dSection "></div>
    </section>
    <section class="grid grid-cols-[1fr_1351px_1fr] gap-[1px] mt-[1px] h-[350px]">
        <div class="bg-cSection dark:bg-dSection "></div>
        <div class="bg-cSection dark:bg-dSection p-10 ">
            <div class="text-[26px] outfit-font font-bold">Propriété intellectuelle</div>
            <br>
            <div>
            Tous les contenus de ce site (textes, images, logos, etc.) m'appartiennent. 
            Toute utilisation de copie et/ou de modification est interdite sans mon autorisation écrite.
            </div>
        </div>
        <div class="bg-cSection dark:bg-dSection "></div>
    </section>
</div> 
{% endblock %}
