{% extends 'base.html.twig' %}

{% block title %}Hello MentionLegalesController!{% endblock %}

{% block body %}
<div>
    <section>
        <div class="flex h-[350px] pt-[1px]">
            <div class="bg-[#14151B]  flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[450px] mr-[1px] shrink-0 ">
                <div class=" p-10">
                    <div class="font-semibold text-3xl">INFORMATIONS</div>
                    {# 
                    #}
                </div>
            </div>
            <div class="bg-[#14151B] w-[450px] shrink-0 ">
                <div class=" p-10">
                    <div class="font-semibold text-3xl">HEBERGEMENT</div>
                    <br>
                    <div>Nom :</div>
                    <div>Adresse :</div>
                    <div>Email :</div>
                    <div>Tel : </div>
                    <div>Num Siren :</div>
                </div>
            </div>
            <div class="bg-[#14151B] w-[450px] ml-[1px] shrink-0 ">
                <div class=" p-10">
                    <div class="font-semibold text-3xl">...</div>
                    {# 
                    #}
                </div>
            </div>
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section> 
    <section>
        <div class="flex h-[423px] pt-[1px]">
            <div class="bg-[#14151B]  flex-1 mr-[1px]"></div>
            <div class="bg-[#14151B] w-[1352px] shrink-0 ">
                <div class=" p-10">
                    <div class="font-semibold text-3xl">PROPRIETE INTELLECTUELLE</div>
                    <br>
                    <div>
                    Tous les contenus de ce site (textes, images, logos, etc.) m'appartiennent. 
                    Toute utilisation de copie et/ou de modification est interdite sans mon autorisation écrite.
                    </div>
                </div>
            </div>
            <div class="bg-[#14151B] flex-1 ml-[1px]"></div> 
        </div>
    </section> 
</div> 
{% endblock %}
